.vscode
node_modules
venv

# infrastructure
nodes
network
ftp
tftp
backup

# libraries / os
intel/l_*
CentOS-7-x86_64-DVD-1708.iso

# other example configs
umt/
tesla31/

# virtual hard drives
*.qcow2
