#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='ru','us' --switch='grp:alt_shift_toggle'
# System language
lang ru_RU.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --bootproto=static --device=eth1 --gateway=10.10.10.1 --ip=10.10.10.2 --netmask=255.255.255.0 --onboot=off --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$p7FqR5QMpLIuXQRX$QGUmjO5b5S3xQtpdmYzTjNljcT7VYH/Yc72GcRN.ls6jGve.dbTyIlddpxnVyXqqVZbwklc9k46O3LjGarw1Y1
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Yekaterinburg --isUtc --nontp
user --groups=wheel --name=user --password=$6$d.nlC/lFr6.zCqUc$U0hzjtSBgp8amBAOP17BuconzMpwx/xVhzLjIeXRLD0SK2.8fOiEEiYGkU6VCUYNNRIpu2soD/Stf6/ijqlaL. --iscrypted --gecos="user"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^compute-node-environment
@base
@core
@debugging
@development
@hardware-monitoring
@infiniband
@network-file-system-client
@performance
@scientific
@security-tools
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
