#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use shell-like install
cmdline
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='ru','us' --switch='grp:alt_shift_toggle'
# System language
lang ru_RU.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=off --activate
network  --bootproto=static --device=eth1 --gateway=10.10.10.1 --ip={{ip}} --netmask=255.255.255.0 --onboot=on --ipv6=off --activate
network  --hostname={{hostname}}

# Root password
rootpw --plaintext VjqRkfcnth
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Yekaterinburg --isUtc --nontp
user --groups=wheel --name=user --password=gfhjkm --plaintext

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^compute-node-environment
@base
@core
@debugging
@development
@hardware-monitoring
@infiniband
@network-file-system-client
@performance
@scientific
@security-tools
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
